<h2 style="color:Maroon;">Project Managers</h2>
<hr>
    <h3 style="color:Maroon;">Steven A. Combs</h3>
<hr>
<%= image_tag("steven.jpg", size: "100x113", :style => 'position: relative;',:style => "border: 3px solid Maroon")%>
<p>  </p>
        <li>Twenty-eight years insurance/risk management consulting</li>
          <li>Six years prior underwriting experience with major insurance company </li>
          <li>Western Michigan University (BBA); DePaul University (MA) with concentration in Risk Management/Insurance </li>
          <li>Chartered Property Casualty Underwriter (CPCU) </li>
          <li>Associate in Risk Management (ARM) </li>
          <li>Past President of Society of Risk Management Consultants</li>
<hr>    
<h3 style="color:Maroon;">Randy C. DeLopst</h3>
<hr>

<%= image_tag("randy.jpg", size: "100x113", :style => 'position: relative;',:style => "border: 3px solid Maroon")%>
<p>  </p>
      
          <li>Twenty-seven years insurance/risk management consulting </li>
          <li>Five years prior experience with an international insurance company 
            and as an insurance broker </li>
          <li>University of Wisconsin-Madison (BBA; MBA with concentration in 
            Risk Management/Insurance) </li>
          <li>Chartered Property Casualty Underwriter (CPCU)</li>
          <li>Past President Charter Property and Casualty  Underwriters, Madison, WI Chapter</li>
          <li>Member of the Society of Risk Management Consultants</li>
          <li>Past National Director of Society of Risk Management Consultants</li>
          <li>Has taught several insurance courses at university level;  
            conducts seminars for professional organizations at national and state 
      levels </li>
	  
<hr>

<h3 style="color:Maroon;">Noreen M. Klink</h3>
<hr>

<%= image_tag("noreen.jpg", size: "100x113", :style => 'position: relative;',:style => "border: 3px solid Maroon")%>
<p>  </p>
      
          <li>Twenty-nine  years experience with national insurance underwriting and brokerage  organizations</li>
          <li>Seven years teaching, research and program administration at Midwest University  insurance and risk management program</li>
          <li>Chartered Property Casualty Underwriter  (CPCU)</li>
          <li> Associate in Risk Management (ARM)</li>
          <li>DePaul  University (BS); Loyola University (MBA)</li>
          <li>Former  Editor <em>Risk Management Quarterly</em> and Chairman, Risk Management Section,  CPCU Society</li>
        
<hr>

<h3 style="color:Maroon;">Steven H. Pahl</h3>
<hr>

<%= image_tag("steven2", size: "100x113", :style => 'position: relative;',:style => "border: 3px solid Maroon")%>
<p>  </p>
        
          <li>Twenty-nine  years experience with national insurance underwriting and brokerage  organizations</li>
          <li>Seven years teaching, research and program administration at Midwest University  insurance and risk management program</li>
          <li>Chartered Property Casualty Underwriter  (CPCU)</li>
          <li> Associate in Risk Management (ARM)</li>
          <li>DePaul  University (BS); Loyola University (MBA)</li>
          <li>Former  Editor <em>Risk Management Quarterly</em> and Chairman, Risk Management Section,  CPCU Society</li>
        
<hr>

<h3 style="color:Maroon;">Robert J. Trompeter</h3>
<hr>

<%= image_tag("robert.jpg", size: "100x113", :style => 'position: relative;',:style => "border: 3px solid Maroon")%>
<p>  </p>

        <li>Twenty-seven years insurance/risk management consulting</li>
        <li>Seven years prior experience with international insurance company 
          as an underwriter and supervisor-branch underwriting operations</li>
        <li> Eastern Illinois University (BS) </li>
        <li>Associate in Risk Management (ARM)</li>
       
<hr>






            
    
        